 *{
     padding: 0;
     margin:0;
     box-sizing: border-box;
 }
 a{
     text-decoration: none;
     font-family: "Cormorant Garamond", serif;
 }
 body{
     background: linear-gradient(to right, #2f4f6f, #1d5e9eab);
     display: flex;
     justify-content: center;
     text-align: center;
     font-family:Arial,sans-serif;
 }
 .container{
     background-color:#fff;
     width:80%;
     margin-top:5%;
     padding:2%;
     box-shadow:0 4px 8px 1px #00000094 ;
     overflow: hidden;
 }
 .container nav{
     display: flex;
     justify-content:space-around;
 }
 .container nav div p{
     padding-top:5px;
     font-weight:700;
 }
 .container nav .nav-list ul{
     display: flex;
     list-style: none;
     padding-top:5px;
 }
 .container nav .nav-list ul li{
     padding:0 10px;
 }
 .container nav .nav-list ul li a{
     color: #000;
     font-size:14px;
     font-weight:700;
     font-family: "Quicksand", serif;
 }
 .container nav div button{
     background-color: #000;
     border: none;
     border-radius:3px;
     padding:8px 10px;
 }
 .container nav div button a{
     color: #fff;
     font-family: "Quicksand", serif;
 }

 /*          aside            */
 aside{
     background:linear-gradient(to right, #2f4f6f, #1d5e9eab);
     min-height:20%;
     max-height:50%;
     margin:70px 20px;
     border-radius:25px;
     display: flex;
     overflow: hidden;
 }
 aside div img{
    height:20%;
 }
 aside div{
    display: flex;
    align-items: center;
 }
 aside div .aside-un{
     width:40%;
     display: flex;
     text-align: left;
     flex-direction: column;
     align-items: start;
     padding-left:6%;
     z-index:2;
     position: absolute;
     color: #fff;
     padding-bottom:10%;
 }
 aside div .aside-un p{
     font-family: "Quicksand", serif;
 }
 aside div .aside-un h1{
     font-family: "Cormorant Garamond", serif;
     text-transform: capitalize;
     font-size:50px;
 }
 /*      section       */

 section{
     display: flex;
 }
 section .sec{
     width:50%;
 }
 .img-one{
     overflow: hidden;
     height:50%;
     width:40%;
     translate:-50px 0px;
     border-radius:25px;
}
 .sec{
     margin-top:2rem;
 }
 .sec i{
     font-size:2.5rem;
 }
 .sec h1{
     font-size:32px;
     font-family: "Dancing Script", cursive;
     font-weight: 800;
     padding:25px 0;
     text-transform: capitalize;
 }
 .sec p{
     text-transform: capitalize;
     font-size:10px;
     font-weight: 800;
     font-family: "Cormorant Garamond", serif;
 }
.img-two{
     margin-top:10rem;
     background-size: cover;
     overflow: hidden;
     height:20%;
     width:40%;
     translate:50px 0;
     border-radius:25px;
 }
 section .sec button{
     background-color: #000;
     border: none;
     border-radius:3px;
     padding:10px 30px;
     margin:40px;
 }
 section .sec button a{
     color: #fff;
 }

 /*      main       */

 main{
     background: url('kitchen/one.png') no-repeat center;
     background-size: cover;
     color: #fff;
     width:90%;
     border-radius:20px;
     margin-left:5%;
     margin-top:5%;
     margin-bottom:0;
 }
 main .main{
     background: linear-gradient(to right, #000, #00000000);
     min-height:40vh;
     width:90%;
     z-index:-1;
     text-align: left;
     display: flex;
     align-items: center;
     border-radius:20px;
 }
 main .main .content{
    width:70%;
    display: flex;
    flex-direction: column;
    align-items:start;
    padding-left:5rem;
 }
 main .main .content h1{
     font-family: "Playfair Display", serif;
     font-size:35px;
     font-weight:300;
     padding:20px 0;
 } 
 main .main .content p{
     font-family: "Cormorant Garamond", serif;
     font-size:16px;
     padding-bottom:20px;
 }
 main .main .content button{
    background-color: #ffffff;
     border: none;
     border-radius:3px;
     padding:10px 30px;
 }
 main .main .content button a{
    color: #000;
 }
a:hover{
    text-decoration: underline;
  }


 /*        media           */



 @media (max-width:700px){
    .container nav{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    }
    .container nav div p{
        padding:5px;
    }
    .container nav .nav-list ul{
        padding:5px;
    }
    .container nav .nav-list ul li{
        padding:10px;
    }

    /*      section       */

    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section .sec{
        width:80%;
        margin-top:0rem;
    }
    .img-one{
        overflow: hidden;
        width:70%;
        translate:-150px 0px;
   }
   .img-two{
        margin-top:0rem;
        width:70%;
        translate:150px 0;
    }
    section .sec button{
        margin:20px;
    }
    /*      main       */

    main .main{
        width:100%;
        text-align: center;
        display: flex;
        align-items: center;
    }
    main .main .content{
       width:100%;
       display: flex;
       flex-direction: column;
       align-items:center;
       padding-left:0rem;
    }
    main .main .content h1{
        padding:10px 0;
    } 
 }